.block-1,
.block-2,
.checkout,
.header {
  font-family: Archivo;
  font-weight: 700;
  color: rgba(250, 250, 250, 0.8);
}
.checkout {
  margin: 0;
  position: relative;
  font-size: 32px;
  line-height: 120%;
  text-align: left;
}
.block-1,
.block-2,
.header {
  border: 0;
  background-color: transparent;
  font-size: 18px;
}
.header {
  align-self: stretch;
  height: 54px;
}
.block-1,
.block-2 {
  height: 50px;
  flex: 1;
  min-width: 314px;
  max-width: 100%;
}
.row-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.block-11 {
  border: 0;
  background-color: transparent;
  height: 50px;
  flex: 1;
  font-family: Archivo;
  font-weight: 700;
  font-size: 18px;
  color: rgba(250, 250, 250, 0.8);
  min-width: 314px;
  max-width: 100%;
}
.country,
.icon {
  position: relative;
}
.country {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
  min-width: 69px;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.block-21,
.row-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.block-21 {
  flex: 1;
  border-radius: 5px;
  background-color: #1c1c1c;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px;
  min-width: 314px;
  gap: 20px;
}
.row-2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.block-12,
.block-22,
.block-23,
.block-24,
.row-3,
.row-4 {
  border: 0;
  background-color: transparent;
  height: 50px;
  font-family: Archivo;
  font-weight: 700;
  font-size: 18px;
  color: rgba(250, 250, 250, 0.8);
}
.block-22,
.block-23,
.row-3,
.row-4 {
  align-self: stretch;
}
.block-12,
.block-24 {
  flex: 1;
  min-width: 314px;
  max-width: 100%;
}
.form-field-block,
.row-5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.form-field-block {
  flex-direction: column;
  gap: 24px;
}
.billing-container-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.button,
.button1 {
  height: 54px;
  width: 100px;
}
.button1 {
  width: 139px;
}
.billing-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.billing-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.8px;
  min-width: 640px;
  max-width: 100%;
}
.header1 {
  align-self: stretch;
  height: 54px;
}
.cart-subtotal,
.details-values {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
  min-width: 113px;
}
.details-values {
  min-width: 70px;
  white-space: nowrap;
}
.cart-subtotal-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.b,
.shipping-handling {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
}
.b {
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
}
.shipping-handling-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.b1,
.other-taxes {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
  min-width: 103px;
}
.b1 {
  min-width: 48px;
  white-space: nowrap;
}
.other-taxes-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.checkout-details-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
}
.b2,
.grand-total {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
  min-width: 100px;
}
.b2 {
  text-align: right;
  min-width: 70px;
  white-space: nowrap;
}
.checkout-details,
.grand-total-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.checkout-details {
  border-radius: 5px;
  background-color: #1c1c1c;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 20px;
  gap: 35.8px;
}
.header2 {
  align-self: stretch;
  height: 54px;
}
.image-1-icon {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 38px;
  height: 23px;
  object-fit: contain;
}
.logo-block {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #1e1b2a;
  overflow: hidden;
  flex-shrink: 0;
}
.bank,
.transfer {
  margin: 0;
}
.bank-transfer {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
}
.block-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-2-icon {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 34px;
  height: 16px;
  object-fit: contain;
}
.logo-block1 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #1e1b2a;
  overflow: hidden;
  flex-shrink: 0;
}
.google,
.pay {
  margin: 0;
}
.google-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
}
.block-25,
.logos-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.logos-block {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.image-3-icon {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 15.5px);
  width: 32px;
  height: 13px;
  object-fit: contain;
}
.logo-block2 {
  align-self: stretch;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #1e1b2a;
  overflow: hidden;
  flex-shrink: 0;
}
.apple,
.pay1 {
  margin: 0;
}
.apple-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
}
.block-3 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-4-icon {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 40px;
  height: 20px;
  object-fit: contain;
}
.logo-block3 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #1e1b2a;
  overflow: hidden;
  flex-shrink: 0;
}
.paypal {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  font-family: Archivo;
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
  min-width: 60px;
}
.block-4,
.transfer-blocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.transfer-blocks {
  width: 158px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.checkout-details1,
.transfer-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-details1 {
  border-radius: 5px;
  padding: 36px 285px 36px 24px;
  gap: 36px;
}
.transfer-options {
  background-color: #1c1c1c;
}
.billing-container-parent,
.checkout-details-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 47px;
  max-width: 100%;
}
.checkout-details-parent {
  width: 500px;
  flex-direction: column;
  min-width: 500px;
}
.billing-container-parent {
  align-self: stretch;
  flex-direction: row;
}
.header3 {
  align-self: stretch;
  height: 54px;
}
.your-personal-data {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "Work Sans";
  color: rgba(250, 250, 250, 0.8);
  text-align: left;
}
.button2 {
  align-self: stretch;
  height: 54px;
}
.checkout-details2,
.checkout1,
.frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.checkout-details2 {
  align-self: stretch;
  border-radius: 5px;
  align-items: flex-start;
  padding: 36px 24px;
  gap: 36px;
}
.checkout1,
.frame-parent {
  max-width: 100%;
}
.checkout1 {
  width: 500px;
  background-color: #1c1c1c;
  align-items: flex-start;
}
.frame-parent {
  margin: 0;
  width: 1532px;
  align-items: flex-end;
}
.checkoutpage,
.checkoutpage-inner {
  display: flex;
  align-items: flex-start;
}
.checkoutpage-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 24px 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.checkoutpage {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 120px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .checkout-details-parent {
    flex: 1;
  }
  .billing-container-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .row-1,
  .row-2,
  .row-5 {
    flex-wrap: wrap;
  }
  .checkoutpage {
    gap: 60px;
  }
}
@media screen and (max-width: 750px) {
  .checkout {
    font-size: 26px;
    line-height: 31px;
  }
  .billing-container {
    gap: 18px;
    min-width: 100%;
  }
  .checkout-details {
    gap: 18px;
  }
  .checkout-details1 {
    gap: 18px;
    padding-right: 142px;
    box-sizing: border-box;
  }
  .checkout-details-parent {
    gap: 23px;
    min-width: 100%;
  }
  .billing-container-parent {
    gap: 23px;
  }
  .checkout-details2 {
    gap: 18px;
  }
  .checkoutpage {
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .checkout {
    font-size: 19px;
    line-height: 23px;
  }
  .billing-header,
  .cart-subtotal-parent,
  .grand-total-parent,
  .other-taxes-parent,
  .shipping-handling-parent {
    flex-wrap: wrap;
  }
  .button2,
  .checkout-details1,
  .header2,
  .header3 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .button2 {
    padding-left: 20px;
  }
}
