.main {
  width: 437px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 119px 0 0;
  box-sizing: border-box;
  min-width: 437px;
  max-width: 100%;
}
.frame-child {
  height: 1004px;
  width: 960px;
  position: relative;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #1c1c1c;
  display: none;
  max-width: 100%;
}
.paymentpage,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent {
  flex: 1;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #1c1c1c;
  padding: 68px 38px;
  min-width: 624px;
  max-width: 100%;
}
.paymentpage {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  padding: 0 0 0 411px;
  gap: 112px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .main {
    flex: 1;
  }
}
@media screen and (max-width: 1225px) {
  .main {
    min-width: 100%;
  }
  .rectangle-parent {
    padding-top: 44px;
    padding-bottom: 44px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .paymentpage {
    flex-wrap: wrap;
    gap: 56px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .main,
  .rectangle-parent {
    padding-top: 77px;
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .paymentpage {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .main {
    padding-top: 50px;
    box-sizing: border-box;
  }
}
