.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: rgba(19, 181, 203, 0.2);
  flex-shrink: 0;
  display: none;
}
.product1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.product-header {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price1,
.quantity1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.quantity1 {
  min-width: 74px;
}
.price-quantity-header {
  width: 272px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 43px;
  z-index: 1;
}
.header6 {
  align-self: stretch;
  border-radius: 5px;
  background-color: rgba(19, 181, 203, 0.2);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 38px 13px;
  gap: 139px;
}
.button12,
.button13 {
  height: 54px;
  width: 134px;
}
.button13 {
  width: 143px;
}
.card-types,
.table-actions {
  display: flex;
  align-items: flex-start;
}
.table-actions {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.card-types {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35.3px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: rgba(250, 250, 250, 0.8);
  font-family: Archivo;
}
@media screen and (max-width: 1100px) {
  .header6 {
    gap: 69px;
  }
}
@media screen and (max-width: 750px) {
  .card-types {
    gap: 18px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .header6 {
    gap: 35px;
  }
  .table-actions {
    flex-wrap: wrap;
  }
}
