.skin-dynasty-transparent-11 {
  align-self: stretch;
  height: 47px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link8 {
  width: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button4 {
  height: 32px;
  flex: 1;
  font-family: Inter;
  font-size: 16px;
  color: #fff;
}
.container31,
.section {
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.section {
  width: 1680px;
  border-bottom: 1px solid #06221d;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16.5px 0 16px;
  gap: 20px;
  max-width: 100%;
}
.about-us {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.heading-31 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.affiliate-program {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.list-item-link,
.section1 {
  display: flex;
  justify-content: flex-start;
}
.list-item-link {
  align-self: stretch;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  font-size: 13.7px;
  color: rgba(255, 255, 255, 0.72);
}
.section1 {
  width: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.legal {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.heading-32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.terms-of-service {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.item-link {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
}
.privacy-policy {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.item-link1 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  font-size: 14px;
}
.refund-policy {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.item-link2 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
}
.cookie-policy {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link3,
.list1,
.section2 {
  display: flex;
  justify-content: flex-start;
}
.item-link3 {
  align-self: stretch;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
}
.list1,
.section2 {
  flex-direction: column;
  align-items: flex-start;
}
.list1 {
  align-self: stretch;
  gap: 8px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.72);
}
.section2 {
  width: 184px;
  gap: 16px;
}
.trade {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.heading-33 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.trade-csgo-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link4 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
}
.trade-rust-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link5 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
  font-size: 13.8px;
}
.trade-tf2-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link6,
.list2,
.section3 {
  display: flex;
  justify-content: flex-start;
}
.item-link6 {
  align-self: stretch;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 7px 4px 8px;
}
.list2,
.section3 {
  flex-direction: column;
  align-items: flex-start;
}
.list2 {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.72);
}
.section3 {
  width: 191px;
  gap: 16px;
}
.free {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.heading-34 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.free-csgo-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link7 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
}
.free-rust-skins {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.item-link8 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
  font-size: 16px;
}
.free-tf2-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link9,
.list3,
.section4 {
  display: flex;
  justify-content: flex-start;
}
.item-link9 {
  align-self: stretch;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 7px 4px 8px;
}
.list3,
.section4 {
  flex-direction: column;
  align-items: flex-start;
}
.list3 {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.72);
}
.section4 {
  width: 191px;
  gap: 16px;
}
.buy,
.heading-35 {
  align-self: stretch;
}
.buy {
  position: relative;
  line-height: 22px;
}
.heading-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.buy-csgo-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link10 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
}
.buy-rust-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link11 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
}
.buy-tf2-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link12,
.list4,
.section5 {
  display: flex;
  justify-content: flex-start;
}
.item-link12 {
  align-self: stretch;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 7px 4px 8px;
}
.list4,
.section5 {
  flex-direction: column;
  align-items: flex-start;
}
.list4 {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.72);
}
.section5 {
  width: 191px;
  gap: 16px;
}
.sell {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.heading-36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.sell-csgo-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link13 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
}
.sell-rust-skins {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.item-link14 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
  font-size: 16px;
}
.sell-tf2-skins {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.item-link15 {
  align-self: stretch;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px 4px 8px;
}
.footer-navigation,
.list5,
.section6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list5 {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.72);
}
.footer-navigation,
.section6 {
  width: 191px;
  gap: 16px;
}
.footer-navigation {
  width: 1680px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  color: rgba(255, 255, 255, 0.92);
}
.svg-icon10 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.tiktok {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 37px;
}
.container33 {
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 0;
}
.container33,
.item3,
.link9 {
  display: flex;
  justify-content: flex-start;
}
.link9 {
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
}
.item3 {
  flex-direction: column;
  align-items: flex-start;
  font-size: 13.5px;
}
.svg-icon11 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.discord {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 47px;
}
.container34 {
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 0;
}
.container34,
.item4,
.link10 {
  display: flex;
  justify-content: flex-start;
}
.link10 {
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
}
.item4 {
  flex-direction: column;
  align-items: flex-start;
}
.svg-icon12 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.instagram {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 61px;
}
.container35 {
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 0;
}
.container35,
.item5,
.link11 {
  display: flex;
  justify-content: flex-start;
}
.link11 {
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
}
.item5 {
  flex-direction: column;
  align-items: flex-start;
  font-size: 13.7px;
}
.svg-icon13 {
  height: 16px;
  width: 16px;
  position: relative;
}
.xcom {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 39px;
}
.container36,
.link12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 0 0;
}
.link12 {
  border-radius: 2px;
  padding: 4px 8px;
  gap: 8px;
}
.item6 {
  flex-direction: column;
}
.item6,
.list6,
.section7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list6 {
  flex-direction: row;
  gap: 8px;
}
.section7 {
  flex-direction: column;
  max-width: 100%;
}
.image-icon7 {
  width: 100%;
  height: 32px;
  position: relative;
  border-radius: 6px;
  max-width: 49.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.item7 {
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon8 {
  width: 49.8px;
  height: 32px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 49.77px;
}
.item8 {
  height: 32px;
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.union-paybr9l8l7isvg-icon {
  width: 100%;
  height: 32px;
  position: relative;
  border-radius: 6px;
  max-width: 49.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.item9 {
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon9 {
  width: 100%;
  height: 32px;
  position: relative;
  border-radius: 6px;
  max-width: 49.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.item10 {
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon10 {
  width: 42.7px;
  height: 32px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 42.66px;
}
.item11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon11 {
  width: 100%;
  height: 32px;
  position: relative;
  border-radius: 6px;
  max-width: 49.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.item12 {
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.and-200-more {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 82px;
}
.container37,
.item13,
.list7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list7 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 7.3px;
}
.section8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: 12px;
  color: #d4d4d8;
}
.horizontalborder {
  align-self: stretch;
  border-top: 1px solid #06221d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0 24px;
  max-width: 100%;
  gap: 20px;
}
.container32 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: 14px;
}
.swapg-all-rights {
  width: 215px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container38 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  color: #fff;
}
.container39,
.not-affiliated-with {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.not-affiliated-with {
  width: 667px;
  position: relative;
  line-height: 16px;
  justify-content: center;
}
.container39 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
}
.email-infoswapgg- {
  position: relative;
  line-height: 16px;
}
.container40,
.footer,
.horizontalborder1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container40 {
  align-self: stretch;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
}
.footer,
.horizontalborder1 {
  box-sizing: border-box;
  max-width: 100%;
}
.horizontalborder1 {
  width: 1680px;
  border-top: 1px solid #06221d;
  align-items: flex-start;
  padding: 15px 0 16px;
  gap: 8px;
  text-align: center;
  font-size: 11.6px;
}
.footer {
  align-self: stretch;
  align-items: center;
  padding: 0 20px;
  gap: 32px;
  text-align: left;
  font-size: 18px;
  color: #d9d9d9;
  font-family: Inter;
}
@media screen and (max-width: 800px) {
  .list6 {
    flex-wrap: wrap;
  }
  .footer {
    gap: 16px;
  }
}
