.get-100-off {
  line-height: 22px;
}
.add-voucher {
  font-size: 0;
  text-decoration: underline;
}
.get-100-off-container {
  position: relative;
  white-space: nowrap;
}
.ticker {
  align-self: stretch;
  background-color: #2e2cac;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.skin-dynasty-transparent-12 {
  height: 47px;
  width: 188px;
  position: relative;
  object-fit: cover;
}
.link14 {
  height: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.market1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 48px;
}
.item14,
.link15 {
  display: flex;
  justify-content: flex-start;
}
.link15 {
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  padding: 9.5px 8px;
}
.item14 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.support1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 56px;
}
.item15,
.link16 {
  display: flex;
  justify-content: flex-start;
}
.link16 {
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  padding: 9.5px 7px;
}
.item15 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.blog2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 31px;
}
.link17 {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 8px;
}
.item16,
.list8 {
  align-items: flex-start;
}
.item16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.list8 {
  align-self: stretch;
  flex-direction: row;
  gap: 16px;
}
.container98,
.list8,
.nav-main-navigation1 {
  display: flex;
  justify-content: flex-start;
}
.nav-main-navigation1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.container98 {
  width: 434px;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}
.link18 {
  align-self: stretch;
  width: 182px;
}
.header-desktop,
.header5 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.header5 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 28px 120px;
  box-sizing: border-box;
  gap: 20px;
}
.header-desktop {
  height: 146px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
}
.checkout2 {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.checkout-wrapper {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.view-or-edit {
  width: 849.4px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-container {
  flex: 1;
  background-color: #1c1c1c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 81.5px 20px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}
.frame-wrapper,
.header-desktop-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  flex-direction: row;
  text-align: center;
  font-size: 48px;
  color: rgba(250, 250, 250, 0.8);
  font-family: Archivo;
}
.header-desktop-parent {
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  color: #5a5a5a;
  font-family: Inter;
}
@media screen and (max-width: 1100px) {
  .header5 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .checkout2 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .container98 {
    gap: 16px;
  }
  .header5 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .checkout2 {
    font-size: 29px;
    line-height: 32px;
  }
}
