.cs2gakqjiwypng-icon {
  height: 20px;
  width: 47.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  max-width: 1296px;
}
.image-icon,
.tf2b-upq5zdpng-icon {
  align-self: stretch;
  width: 66px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 32px;
}
.tf2b-upq5zdpng-icon {
  width: 93px;
  max-width: 1296px;
}
.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 333px 0 0;
  gap: 24px;
}
.buy-sell {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  white-space: pre-wrap;
}
.container3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trade-skins-and {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.hero-description,
.hero-heading {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-heading {
  flex-direction: row;
  font-size: 14px;
}
.hero-description {
  flex-direction: column;
  gap: 16px;
}
.btn {
  height: 58px;
  flex: 1;
  min-width: 148px;
}
.excellent {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 62px;
}
.strong {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-icon {
  height: 20px;
  width: 107px;
  position: relative;
}
.container5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.out-of-5 {
  color: #5a5a5a;
}
.strong-47-container {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 107px;
}
.container7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-icon1 {
  align-self: stretch;
  width: 66px;
  position: relative;
  max-height: 100%;
  min-height: 16px;
}
.container6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 11.8px;
}
.link5 {
  width: 181px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.container1,
.container4,
.link5 {
  display: flex;
  justify-content: flex-start;
}
.container4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 140px 0 0;
  gap: 40px;
  font-size: 16px;
}
.container1 {
  width: 588px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
}
.pngegg-7-1 {
  top: 0;
  left: 81px;
  width: 538px;
  height: 186px;
}
.pngegg-10-1,
.pngegg-7-1,
.pngegg-9-1 {
  position: absolute;
  object-fit: contain;
}
.pngegg-9-1 {
  top: 127px;
  left: 0;
  width: 266px;
  height: 232.9px;
  z-index: 1;
}
.pngegg-10-1 {
  top: 224px;
  left: 266px;
  width: 273px;
  height: 112px;
}
.pngegg-7-1-parent {
  height: 359.9px;
  width: 619px;
  position: relative;
  max-width: 100%;
}
.container8,
.hero-inner-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container8 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 24.1px;
  min-width: 427px;
}
.hero-inner-content {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 64px 2px 0 0;
  gap: 24px 22px;
  text-align: left;
  font-size: 80px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1300px) {
  .cs2gakqjiwypng-icon,
  .tf2b-upq5zdpng-icon {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .container2 {
    flex-wrap: wrap;
    padding-right: 166px;
    box-sizing: border-box;
  }
  .buy-sell {
    font-size: 40px;
    line-height: 53px;
  }
  .container4 {
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 70px;
    box-sizing: border-box;
  }
  .container1 {
    gap: 16px;
  }
  .container8 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .container2 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .buy-sell {
    font-size: 24px;
    line-height: 35px;
  }
  .container4 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .hero-inner-content {
    padding-top: 42px;
    box-sizing: border-box;
  }
}
